<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<ul class="navbar-nav mr-auto">
				<a class="navbar-brand" href="/">Головна</a>
				<a class="nav-item nav-link" href="/gyms">Зали</a>
				<a class="nav-item nav-link" href="/coaches">Тренери</a>
				<a class="nav-item nav-link" href="/reservations">Записи</a>
				<a class="nav-item nav-link" href="/reservations/new">Додоати запис</a>
				<a class="nav-item nav-link" href="/gym_stats">Статистика</a>
				<a class="nav-item nav-link" href="/coaches_stats">Статистика тренерів</a>
			</ul>

			<p class="my-2 my-lg-0">
				Рижак Евеліна
			</p>
		</div>
	</nav>
</header>