<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap demo</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>
	{{> header }}

	<div class="container">
		<form id="fr" class="form">
			<div class="col">
				<label>Мінімальна кількість записів</label><br />
				<input width="100px" type="number" name="count" value="0" />
			</div>
			<br />
			<input type="submit" value="Знайти" />

		</form>
		<br />


		{{#if this.render }}

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Тренер</th>
					<th scope="col">Кількість записів</th>
				</tr>
			</thead>

			<tbody>
				{{#each this.res }}
				<tr>
					<th>{{this.name}}</th>
					<td>{{this.count}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		{{/if}}

	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
</body>

</html>